/* 公共样式区域 */
/* 鼠标经过图片缩放 */
ul[class$="slider_list"] a {
    position: relative;
    overflow: hidden;
}
ul[class$="slider_list"] a img {
    transition: all .7s;
}
ul[class$="slider_list"] a:hover img {
    transform: scale(1.1);
}
/* 黑色透明遮罩 */
a[class$="_pic"]::after,
ul[class$="slider_list"] li>a::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transition: opacity .5s;
}
a[class$="_pic"]:hover::after,
ul[class$="slider_list"] li>a:hover::after {
    opacity: .2;
}
/* 鼠标经过显示播放图标 */
ul[class$="slider_list"] li>a::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    content: "";
    width: 40%;
    height: 40%;
    background: url(https://y.gtimg.cn/mediastyle/yqq/img/cover_play.png?max_age=2592000&v=88abebcbc1242dbbbbc836cc3e04a006&v=88abebcbc1242dbbbbc836cc3e04a006) no-repeat;
    background-size: 100%;
    opacity: 0;
    transition: all .5s;
    transform: translate(-50%,-50%);
}
ul[class$="slider_list"] li>a:hover::before {
    opacity: 1;
}
.main_mv .main_mv_slider_list a::before {
    width: 30%;
    height: 52%;
}

/* 主体部分 */
.main {
    width: 100%;
    overflow: hidden;
}
.main> * {
    background: url(https://y.gtimg.cn/mediastyle/yqq/img/bg_detail.jpg?max_age=2592000&v=05ddeeeeca10d505b8501911cfbda543) repeat-x;
}
/* 歌单推荐 */
.main_list {
    position: relative;
}
.main>div h2 {
    width: 196px;
    height: 40px;
    background: url(https://y.gtimg.cn/mediastyle/yqq/img/index_tit.png?max_age=2592000&v=c7310a1eb12fc9fce032314be79ad579) no-repeat ;
}
.main .w {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 50px 0;
    overflow: hidden;
}
.main_nav {
    display: flex;
    gap: 50px;
}
.main_nav a {
    color: #333;
    font-size: 15px;
}
.main_nav a[class="main_nav_current"] {
    color: #31c27c;
}
.main_nav a:hover {
    color: #31c27c;
}
/* 轮播图 */
.main_list_slider {
    display: flex;
    position: relative;
    width: 100%;
    flex-basis: 272px;
}
.main_list_slider_list {
    display: flex;
    gap: 20px;
    min-width: 100%;
    margin-right: 20px;
}
.main_list_slider_list li {
    display: flex;
    flex-direction: column;
    flex: 0 1 224px;
}
.main_list_slider_list li a {
    margin-bottom: 5px;
}
.main_list_slider_list li .main_list_pic {
    width: 100%;
    vertical-align: middle;
}
.main_list_slider_list li .main_list_title {
    font-weight: 400;
    font-size: 15px;
}
.main_list_slider_list li .main_list_info {
    color: #999;
    font-size: 14px;
}
/* 轮播图底部小按钮样式 */
.main_slider_switch li {
    float: left;
    width: 8px;
    height: 8px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.1);
    cursor: pointer;
}
.main_slider_switch li[class="main_slider_switch_current"] {
    background-color: rgba(0,0,0,.3);
}

/* 新歌首发 */
.main_song {
    position: relative;
}
/* 播放全部按钮 */
.main_song .main_nav .main_song_playAll {
    position: absolute;
    top: 105px;
    left: 0px;
    width: 123px;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    line-height: 38px;
}
.main_song .main_nav .main_song_playAll i {
    display: inline-block;
    width: 20px;
    height: 16px;
    background: url(https://y.gtimg.cn/mediastyle/yqq/img/icon_sprite.png?max_age=2592000&v=85678e8f28c7b4bcad5c209b21b7e3b3&v=85678e8f28c7b4bcad5c209b21b7e3b3) no-repeat -60px -220px;
    vertical-align: middle;
}
.main .main_song h2 {
    background-position: 0 -48px;
}
/* 轮播图 */
.main .main_song_slider {
    position: relative;
    display: flex;
    width: 100%;
    padding-top: 20px;
}
.main .main_song_slider_list {
    display: grid;
    grid-template-columns: repeat(3,31%);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 20px;
    min-width: 100%;
    height: 333px;
    margin-right: 20px;
}
.main .main_song_slider_list li {
    display: grid;
    grid-template-columns: 96px 1fr 35px;
    align-items: stretch;
}
.main .main_song_slider_list .main_song_pic {
    height: 86px;
    margin-right: 10px;
}
.main .main_song_slider_list .main_song_pic img {
    width: 86px;
    height: 86px;
}
.main .main_song_slider_list .main_song_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main_song_slider_list .main_song_info .main_song_title,
.main_song_singer {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main_song_slider_list .main_song_info .main_song_singer {
    color: #999;
}
.main_song_slider_list .main_song_info .main_song_singer a {
    color: #999;
}
.main_song_slider_list .main_song_info .main_song_singer a:hover {
    color: #31c27c;
}
.main .main_song_slider_list .main_song_time {
    color: #999;
    line-height: 86px;
}
/* 精彩推荐 */
.main_rec {
    position: relative;
}
.main .main_rec h2 {
    background-position: 0 -96px;
}
/* 轮播图 */
.main_rec_slider {
    position: relative;
    display: flex;
    height: 224px;
}
.main_rec_slider_wrapper {
    display: flex;
    gap: 20px;
    min-width: 100%;
    margin-right: 20px;
}
.main_rec_slider_pic {
    width: 100%
}

/* 新碟首发 */
.main .main_album {
    min-height: 768px;
}
.main .main_album h2 {
    background-position: 0 -144px;
}
/* 更多 */
.main_album .main_nav {
    position: relative;
    justify-content: center;
    width: 100%;
}
.main_album .main_nav .main_more {
    top: 0;
    right: 50px;
}
/* 轮播图 */
.main_album_slider {
    width: 100%;
    overflow: hidden;
}
.main_album_slider_list {
    display: grid;
    grid-template-columns: repeat(5,18%);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 20px;
    width: 100%;
    margin-right: 20px;
}
.main_album_slider_list li a {
    display: block;
}
.main_album_slider_list li .main_album_singer {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.main_album_slider_list li .main_album_singer a {
    display: inline;
}
.main_album_pic {
    width: 100%;
    vertical-align: middle;
}
.main_album_title {
    margin-top: 5px;
}
.main_album_title a {
    font-weight: 400;
}
.main_album_singer a {
    color: #999;
}
.main_album_singer a:hover {
    color: #31C27c;
}

/* 排行榜 */
.main .main_top h2 {
    position: relative;
    width: 100%;
    background-position: 50% -192px;
}
/* 更多 */
.main_more {
    position: absolute;
    top: 15px;
    right: 10px;
    font-weight: 500;
}
.main_more::after {
    position: absolute;
    top: 8px;
    right: -10px;
    content: "";
    width: 6px;
    height: 6px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(45deg);
}
.main_more:hover::after {
    border-color: #31C27c;
}
.main_top_content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    width: 100%;
    height: 500px;
}
.main_top_content .main_top_item {
    position: relative;
    flex: 1;
    overflow: hidden;
}
.main_top_content .main_top_item::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: url(https://y.gtimg.cn/mediastyle/yqq/img/bg_index_top.jpg?max_age=2592000&v=3beef369200a0863560787fd560c8205);
    transition: all .5s;
}
.main_top_content .main_top_item:nth-child(2)::before {
    background-position: -224px 0;
}
.main_top_content .main_top_item:nth-child(3)::before {
    background-position: -448px 0;
}
.main_top_content .main_top_item:nth-child(4)::before {
    background-position: calc(-224px*3) 0;
}
.main_top_content .main_top_item:nth-child(5)::before {
    background-position: calc(-224px*4) 0;
}
.main_top_content .main_top_item:hover::before {
    transform: scale(1.1);
}
.main_top_item_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 40px;
}
/* 鼠标经过显示播放图标 */
.main_top_item_wrapper::before {
    position: absolute;
    top: 125px;
    left: 50%;
    z-index: 1;
    content: "";
    width: 24%;
    height: 52px;
    background: url(https://y.gtimg.cn/mediastyle/yqq/img/cover_play.png?max_age=2592000&v=88abebcbc1242dbbbbc836cc3e04a006&v=88abebcbc1242dbbbbc836cc3e04a006) no-repeat;
    background-size: 100%;
    opacity: 0;
    transition: all .5s;
    transform: translateX(-50%);
    cursor: pointer;
}
.main_top_item_wrapper:hover::before {
    opacity: 1;
}

.main_top_content .main_top_item_name {
    font-size: 22px;
    font-weight: 300;
    color: rgba(246, 228, 233);
}
.main_top_content .main_top_item_title a {
    font-size: 26px;
    color: #fff;
}
.main_top_content .main_top_item_line {
    margin: 25px 0;
    color: #fff;
}
.main_top_item_list {
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 100%;
    padding: 0 20px;
}
.main_top_item_list_info {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
}
.main_top_item_list_info a:hover {
    color: #31C27c;
}
.main_top_item_list_info span,
.main_top_item_list_content .main_top_item_content_name,
.main_top_item_content_singer {
    width: 100%;
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.main_top_item_list_content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.main_top_item_list_content .main_top_item_content_name,
.main_top_item_content_singer:hover {
    color: #fff;
}
.main_top_item_content_singer a {
    color: #fff;
}

/* MV */
.main_mv {
    position: relative;
}
.main .main_mv h2 {
    background-position: 0 calc(-48px*5);
}
/* 轮播图 */
.main_mv_slider {
    position: relative;
    display: flex;
    width: 100%;
}
.main_mv_slider_list {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 20px;
    min-width: 100%;
    padding: 0 20px;
}
.main_mv_slider_list li {
    max-height: 194px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.main_mv_slider_list li>a:first-child {
    display: block;
}
.main_mv_pic {
    width: 100%;
    vertical-align: middle;
}
.main_mv_title {
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main_mv_title a {
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.main_mv_singer a {
    color: #999;
}
.main_mv_singer a:hover {
    color: #31C27c;
}
.main_mv_count {
    color: #999;
}
.main_mv_count::before {
    display: inline-block;
    content: "";
    width: 20px;
    height: 14px;
    margin-right: 5px;
    background: url(https://y.gtimg.cn/mediastyle/yqq/img/icon_sprite.png?max_age=2592000&v=85678e8f28c7b4bcad5c209b21b7e3b3) no-repeat -180px -18px;
}
