@font-face {
  font-family: "iconfont"; /* Project id 2525500 */
  src: url('iconfont.woff2?t=1620377439328') format('woff2'),
       url('iconfont.woff?t=1620377439328') format('woff'),
       url('iconfont.ttf?t=1620377439328') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianzan:before {
  content: "\e613";
}

.icon-bofangqi-danmuguan:before {
  content: "\e696";
}

.icon-bofangqi-danmukai:before {
  content: "\e697";
}

.icon-zanting:before {
  content: "\e638";
}

.icon-guanbi:before {
  content: "\e607";
}

.icon-xiangxiajiantou:before {
  content: "\e60b";
}

.icon-tianjia:before {
  content: "\e7a9";
}

.icon-pinglun:before {
  content: "\e745";
}

.icon-lajitong:before {
  content: "\e62f";
}

.icon-shangyishou:before {
  content: "\e603";
}

.icon-xiayishou:before {
  content: "\e602";
}

.icon-xihuan:before {
  content: "\e63a";
}

.icon-fullscreen:before {
  content: "\e623";
}

.icon-fenxiang:before {
  content: "\e8b0";
}

.icon-icon_play:before {
  content: "\e60f";
}

.icon-piliangxuanze:before {
  content: "\e622";
}

.icon-MV:before {
  content: "\e600";
}

.icon-bofang:before {
  content: "\e610";
}

.icon-xianxingtubiaozhizuomoban-41:before {
  content: "\e621";
}

.icon-yinliangdefuben:before {
  content: "\e80c";
}

.icon-xiazai:before {
  content: "\e61c";
}

.icon-23_shunxubofang:before {
  content: "\e658";
}

.icon-user:before {
  content: "\e614";
}

.icon-suijibofang:before {
  content: "\e6a0";
}

.icon-danquxunhuan:before {
  content: "\e6a2";
}

.icon-caidan-2-xian:before {
  content: "\e601";
}

